body {
    background: #fff;
    line-height: 1.5;
}

/* Header & Navbar */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  position: sticky;
  top: 0;

  border-bottom: 1px solid var(--color-frame);
  background: var(--color-content-bg);
}
header h1 {
    font-size: 1.6rem;
    font-weight: bold;
}
header a {
    text-decoration: none;
}
nav a {
  margin-left: 16px;
  color: var(--color-text);
  font-weight: 500;
}
nav a.cta {
  background: #2563eb;
  color: #fff;
  padding: 8px 12px;
  border-radius: 6px;
}

/* Footer */
footer {
    text-align: center;
    padding: 24px;
    border-top: 1px solid #eee;
    color: #555;
    font-size: 0.9rem;
}

/* Buttons */
.btn {
  display: inline-block;
  padding: 10px 16px;
  border-radius: 6px;
  border: 2px solid #2563eb;
  background: #fff;
  color: #2563eb;
  font-weight: bold;
  text-decoration: none;
}
.btn.primary {
  background: #2563eb;
  color: #fff;
  border: none;
}

/* Images */
.icon {
    aspect-ratio: 1/1;
    max-width: 50px;
    height: auto;
}



ul.box-list {
    list-style: none;
    padding: 0;
    border: var(--frame-size) solid var(--color-frame);
    border-radius: 12px;
    padding: 12px;
}

ul.box-list li {
  padding: 12px 0;        /* Add vertical spacing */
  border-bottom: 1px solid #ccc;  /* Divider line */
  font-size: 16px;        /* Adjust text size */
}

ul.box-list li:last-child {
  border-bottom: none;    /* Remove last divider */
}


section { padding: 48px 32px; }
section h3 { font-size: 2rem; }
.cards { display: grid; grid-template-columns: repeat(auto-fit, minmax(220px,1fr)); gap: 16px; }
.card {
    padding: 16px;
    border-radius: 18px;
    border: var(--frame-size) solid var(--color-frame);
}
.card p {
    color: var(--color-subhead);
    margin: 10px;
}
.card h4 {
    /* font-weight: bold; */
    margin: 0 0 8px;
}
.card img {
    margin-bottom: 12px;
}

.container { max-width: 1120px; margin: 0 auto; padding: 0 24px; }
