
/* HEADER */
header {
    position: relative;
    overflow: hidden;
    padding: 20px 20px;
    height: 150%;
    line-height: 0.8;
    background-color: var(--color-bright-header);
}
header h1 {
    position: relative;
    z-index: 1;
    font-size: 8em;
    font-weight: 800;
    color: rgb(255, 255, 255);
}
header h2{
    position: relative;
    z-index: 1;
    font-size: 2em;
    margin-top: 15px;
    margin-left: 10px;
    color: rgb(83, 105, 123);
    padding: 20px;
}
.header-pfp {
  position: absolute;
  right: 0;
  bottom: 0; /* anchor */
  width: 380px;
  z-index: 0;
  pointer-events: none;
}
.header-pfp img {
  width: 100%;
  height: 100%;
  opacity: 0.65;
}

.dock {
  position: fixed;
  bottom: 20px;
  left: 5vw;
  right: 5vw;
  height: 68px;
  z-index: 1000;

  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15);
  border: 2px solid rgba(0, 0, 0, 0.08);
}
.dock li {
  flex: 1;
  text-align: center;
}
.dock a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.9em;
}
.dock svg {
  margin-bottom: 3px;
}

/* ANIMATIONS */
/* -------------------------- */
header h1,
header h2 {
    opacity: 0;
    transform: translateX(-40px);
    transition: opacity 1.8s ease, transform 1.4s ease;
}
header h2 {
    transition: opacity 1.6s ease, transform 1.2s ease;
}
header h1.visible,
header h2.visible {
    opacity: 1;
    transform: translateX(0);
}

header .header-pfp {
    transform: translateY(50%);
}
.header-pfp.visible {
    transform: translateY(0); 
    transition: opacity 1.2s ease, transform 1.5s ease;
}
@media (max-width: 900px) {
    .header-pfp {
        opacity: 0.3;
    }
}

@media (prefers-color-scheme: dark) {
}

@media (max-width: 600px) {
}
