
.navbar {
    text-align: left;
    padding: 10px 0;
    border-bottom: 2px solid #ccc; /* line under the navbar */
}

.navbar ul {
    margin-left: 10px; 
}

.navbar li {
    display: inline; /* make horizontal */
    margin-right: 20px; /* space between links */
}

/* style the liks */
.navbar a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

/* hover for links */
.navbar a:hover {
    color: #9d9d9d;
}


body {
    font-family: Arial, sans-serif;
}


/* Top of Page */

.title {
    text-align: center;
    padding: 30px 0;
}

.title h1 {
    font-size: 50px;
    color: #3c3c3c;
    margin-bottom: 0;
}

.title h2 {
    font-size: 20px;
    color: #3c3c3c;
}

/* Social Media Icons */
.icon-container {
    display: flex;
    justify-content: center;
    gap: 10px;    
}

.icon-container img {
    opacity: 0.7;
    transition: opacity 0.3s;
}

.icon-container img:hover {
    opacity: 1;
}

/* about me */

.about-me {
    text-align: left;
    margin-top: 50px;
    margin-left: 5%;
    margin-right: 5%;
    /* box */
    padding: 13px;
    border-radius: 20px;
    background-color: #f9f9f9c4;
}



/* Featured Project */

.featured {
    text-align: center;
    margin-top: 50px;
    /* background-image: url(pocket_drums.png); */
    padding: 5px;
    border-radius: 20px;
    margin-left: 8%;
    margin-right: 8%;
    position: relative; /* Ensure the container is positioned */
    overflow: hidden; /* Prevents filter effects from leaking outside */
}

.featured::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(../assets/Pocket-Drums.gif);
    background-position: center center;
    background-size: 100%;
    filter : brightness(1.1) blur(5px) opacity(75%) saturate(170%);
    /* filter : blur(5px) opacity(100%) saturate(120%); */
    z-index: -1; /* Ensure the blur is behind the content */
}

.featured h1{
    color: rgb(253, 232, 0);
    font-size: 20px;
}

.featured h3 {
    color: rgb(53, 53, 53);
}

.featured .text p {
    color: rgb(41, 40, 40);
    font-size: 14px;
}


.featured .demo-gif {
    width: 15%;
    height: auto;
    margin-top: 20px;
    /* box around with padding */
    border: 5px solid #ccc;
}

.featured .media-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* visit button */
.media-container a{
    background-color: #31313143;
    color: white;
}

.info{
    background-color: #ebebeb;
    color: rgb(76, 76, 76);
    padding: 5px 15px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.featured p {
    font-size: 18px;
    color: #313131;
    margin-top: 10px;
    font-weight: bold;
}



/* Main Portfolio */

/* icon img */
.icon {
    /* width: 100px;
    height: 100px; */
    margin-bottom: 10px;
}

.icon-instructions {
    font-size: 12px;
    color: #313131;
    margin-bottom: 40px;
    margin-top: -20px;
}


.projects {
    padding: 10px;
    text-align: center;
    margin-top: 50px;
}

.sub-title {

    margin-left: 5%;
    margin-right: 5%;
    margin-top: 80px;
}

.filters {
    text-align: center;
}

.my-work {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
    border-top: 2px solid #bdbdbd; /* line under the navbar */
    /* grid of items */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.portfolio-item  {
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 10px;
    /* align left */
    text-align: center;
    /* box */
    border-radius: 20px;
    background-color: #e9e9e983;
    margin-right: 10px;
    margin-left: 10px;
}

.portfolio-item .text iframe {
    border: 0;
    overflow: hidden;
}

footer {
    text-align: center;
    padding: 10px;
}


@media (max-width: 768px) {
    .title h1 {
        font-size: 32px; /* Smaller font size for smaller screens */
    }
    /* make sure blurred background is always too big */
    .featured::before {
        background-size: 150%;
    }
    /* center the navbar items */
    .navbar ul {
        margin-left: 0;
        text-align: center;
    }
    .my-work {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
    .portfolio-item .text iframe {
        width: 100%;
    }
    .portfolio-item .text .project-img {
        width: 100%;
        height: auto;
    }
}
