/* 
    Animation [data-animate]
    transition values align by position:
    (x, y?, z?) 
    if no z: z = y, 
    if no y: y,z = x
*/
/* Base (pre-animation) */
:where([data-animate]) {
    opacity: var(--enter-opacity, 0);
    transform: var(--enter-transform, translateY(12px));
    filter: var(--enter-filter, blur(6px));

    transition: var(--transition,
        opacity 0.5s ease,
        transform 1s ease-out,
        filter 0.5s ease-in
    );
}

/* Final state */
:where([data-animate].visible) {
    opacity: 1;
    transform: none;
    filter: none;
}

/* Manual skip */
:where([data-animate="off"]) {
    opacity: 1 !important;
    transform: none !important;
    filter: none !important;
    transition: none !important;
}